h1 {
    color: black;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
button{
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}