<h3>Add Customer</h3>

<form action="" #formInfo="ngForm">
    <input type="text" placeholder="first name" [(ngModel)]="customer.firstName" name="firstName" required #firstNameInfo="ngModel">
    <span *ngIf="firstNameInfo.errors?.['required'] && firstNameInfo.touched">name is missing</span>
    <span *ngIf="firstNameInfo.errors?.['pattern'] && firstNameInfo.touched">name must start with a capital letter</span>

    <input type="text" placeholder="last name" [(ngModel)]="customer.lastName" name="lastName" required #lastNameInfo="ngModel">
    <span *ngIf="lastNameInfo.errors?.['required'] && lastNameInfo.touched">name is missing</span>
    <span *ngIf="lastNameInfo.errors?.['pattern'] && lastNameInfo.touched">name must start with a capital letter</span>
    
    <input type="text" placeholder="email" [(ngModel)]="customer.email" name="email" required #emailInfo="ngModel">
    <span *ngIf="emailInfo.errors?.['required'] && emailInfo.touched">email is missing</span>
    
    <input type="text" placeholder="password" [(ngModel)]="customer.password" name="password" required #passwordInfo="ngModel">
    <span *ngIf="passwordInfo.errors?.['required'] && passwordInfo.touched">password is missing</span>
    <!-- <span *ngIf="stockInfo.errors?.['max'] && stockInfo.dirty">stock is too high, max is {{stockInfo.errors?.['max'].max}}</span>
    <span *ngIf="stockInfo.errors?.['min'] && stockInfo.touched">stock is too low, min is {{stockInfo.errors?.['min'].min}}</span> -->
    <!-- <span *ngIf="stockInfo.invalid && stockInfo.touched">stock is missing</span> -->
    
    <button (click)="addCustomer()" [disabled]="formInfo.invalid">Add</button>
</form>