:host{
    display: block;
    padding: 20px;
    height: 80%;
    overflow: auto;
    /* background-color: yellowgreen; */
    /* height: 100%; */
}
table, tr, th, td{
    border: 1px solid #f08aeb;
    margin-left: 10px;
}
table{
    width: 95%;
}
caption{
    margin-bottom: 5px;
}